* {
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.BabylonCanvas {
  display: inline-block;
  border: 50px solid white;
  height: 250px;
  width: 250px;
  margin: 0;
  margin-left: -400px;
  margin-top: -25px;
  padding: 0;
}

.BabylonCanvas > canvas {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.PurchaseDialog {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 400px);
  height: 300px;
  width: 700px;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.ItemConfigurator {
  display: inline-block;
  position: absolute;
  width: 400px;
  height: 400px;
}

.ItemConfigurator > p {
  display: block;
  width: 100%;
  text-align: left;
}

.ItemName {
  display: block;
  font-size: 2em;
  margin: 10px;
  margin-left: 0px;
  padding: 0;
}

.ItemPrice {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0;
  margin: 10px;
  margin-left: 0px;
}

.ColorHeader {
  font-size: 0.8em;
  margin: 10px;
  margin-left: 0px;
  margin-bottom: 5px;
}

.ColorButton {
  height: 25px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  display: inline-flex;
  margin-left: 0;
  margin-right: 4px;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  float: left;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.ColorButton > p {
  line-height: 100%;
  text-align: right;
  height: 100%;
  padding: 2px;
  margin: 2px;
  margin-top: 3px;
  margin-right: 2px;
  overflow: hidden;
  display: inline-flex;
}

.ColorDot {
  display: inline-flex;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  margin: 2px;
  margin-top: 4px;
  padding: 0px;
  height: 17px;
  width: 17px;
  border-radius: 100%;
}